@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Comfortaa";

  font-display: swap;
  src:
    url("../fonts/Comfortaa.woff2") format("woff2"),
    url("../fonts/Comfortaa.woff") format("woff");
}
